.navbar--container
	.container
		nav.navbar.navbar-toggleable-md
			button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
				span.navbar-toggler-icon

			a.navbar-brand(href="/")
				img(src="./assets/holiday-logo.svg")
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.ml-auto
					li.nav-item.active
						a.nav-link(href="#services") COTTAGES
					li.nav-item
						a.nav-link(href="#inspiration") INSPIRATION
					li.nav-item
						a.nav-link(href="#about") ABOUT
					li.nav-item
						a.nav-link(href="#contact") CONTACT US