section.pt-6
	.container
		.row.mb-4
			.col-md-6
				.p-4.mb-2(style="background-color: #ffffff;")
					.row
						.col-md-8
							h3 {{ cottage.name }}
							h5 {{ cottage.town }}, {{ cottage.county }}
						.col-md-4

					div.mb-2(style="height: 60px; overflow: hidden;")
						p Lorem ipsum dolor sit amet, per veniam alterum invenire ei, pri solet everti in. An sit soleat splendide tincidunt, volumus delectus pri ei. Eu mei appetere comprehensam. Sea ei liberavisse necessitatibus. Vis possit albucius vituperatoribus ex, nam ut meis repudiandae. Vel et habeo alienum.

						p Vis nihil voluptua et, no sit quidam feugait. Vix ei sale dicunt prompta, ei omnis incorrupte vituperatoribus qui, eu mei delenit dolorum definitiones. No vidisse iuvaret nominavi cum. Mel delicata reprehendunt no, choro soleat gloriatur ei eam, probo incorrupte ex duo. Verear accommodare qui no.

						p Ut munere voluptatum eos, nam ne ludus volumus moderatius, an est saepe eruditi. Id vivendo explicari mea. Te sed soluta eleifend. Tale noluisse ullamcorper ut duo. Purto vide denique est te, quo wisi possit id, eu sint habemus expetendis ius. Eu pri laudem perpetua consulatu, vix id ubique neglegentur. Vix ut semper luptatum molestiae, nam in magna paulo voluptatibus.
					a Read More
					hr
					.row.text-center
						.col-md-6
							h5 Sleeps
							h4 {{ cottage.sleeps }}

						.col-md-6
							h5 Bedrooms
							h4 {{ cottage.bedrooms }}

				.p-4.mb-2(style="background-color: #ffffff;")
					.row
						.col-md-4
							p.mb-1
								span.ion.mr-1(ng-class="cottage.features.pets ? 'ion-checkmark' : 'ion-close'")
								| Pets Allowed
							p.mb-1
								span.ion.mr-1(ng-class="cottage.features.wifi ? 'ion-checkmark' : 'ion-close'")
								| Wifi

						.col-md-4
							p.mb-1
								span.ion.mr-1(ng-class="cottage.features.swimming ? 'ion-checkmark' : 'ion-close'")
								| Swimming Pool
							p.mb-1
								span.ion.mr-1(ng-class="cottage.features.washing ? 'ion-checkmark' : 'ion-close'")
								| Washing Machine

						.col-md-4
							p.mb-1
								span.ion.mr-1(ng-class="cottage.features.fireplace ? 'ion-checkmark' : 'ion-close'")
								| Fireplace
							p.mb-1
								span.ion.mr-1(ng-class="cottage.features.hottub ? 'ion-checkmark' : 'ion-close'")
								| Hot Tub

				.p-4(style="background-color: #ffffff;")
					.row.align-items-center
						.col-md-6
							h5 {{ cottage.cost * curFilters.nights }}
							h6 For {{ curFilters.nights }} nights
						.col-md-6.text-right
							button.btn Book Now

			.col-md-6
				img.w-100(src="assets/test-house.jpg")

		.row
			.col-md-12
				.p-4(style="background-color: #ffffff;")
					p Lorem ipsum dolor sit amet, per veniam alterum invenire ei, pri solet everti in. An sit soleat splendide tincidunt, volumus delectus pri ei. Eu mei appetere comprehensam. Sea ei liberavisse necessitatibus. Vis possit albucius vituperatoribus ex, nam ut meis repudiandae. Vel et habeo alienum.

					p Vis nihil voluptua et, no sit quidam feugait. Vix ei sale dicunt prompta, ei omnis incorrupte vituperatoribus qui, eu mei delenit dolorum definitiones. No vidisse iuvaret nominavi cum. Mel delicata reprehendunt no, choro soleat gloriatur ei eam, probo incorrupte ex duo. Verear accommodare qui no.

					p Ut munere voluptatum eos, nam ne ludus volumus moderatius, an est saepe eruditi. Id vivendo explicari mea. Te sed soluta eleifend. Tale noluisse ullamcorper ut duo. Purto vide denique est te, quo wisi possit id, eu sint habemus expetendis ius. Eu pri laudem perpetua consulatu, vix id ubique neglegentur. Vix ut semper luptatum molestiae, nam in magna paulo voluptatibus.