section(style="padding-top: 140px;")
	.container-fluid
		.row.mb-4
			.col-md-6
				.details--main
					.row.mb-2
						.col-md-12.col-lg-8
							h3.cottage-name.color--500 {{ cottage.name }}
							h5.cottage-town {{ cottage.town }}, {{ cottage.county }}
						.col-md-12.col-lg-4.text-center
							h6.mt-1 Customer Rating
							span.ion.ion-star.d-inline-block(ng-repeat="i in getRating(cottage.rating) track by $index")

					div.mb-2(style="height: 60px; overflow: hidden;")
						p Lorem ipsum dolor sit amet, per veniam alterum invenire ei, pri solet everti in. An sit soleat splendide tincidunt, volumus delectus pri ei. Eu mei appetere comprehensam. Sea ei liberavisse necessitatibus. Vis possit albucius vituperatoribus ex, nam ut meis repudiandae. Vel et habeo alienum.

						p Vis nihil voluptua et, no sit quidam feugait. Vix ei sale dicunt prompta, ei omnis incorrupte vituperatoribus qui, eu mei delenit dolorum definitiones. No vidisse iuvaret nominavi cum. Mel delicata reprehendunt no, choro soleat gloriatur ei eam, probo incorrupte ex duo. Verear accommodare qui no.

						p Ut munere voluptatum eos, nam ne ludus volumus moderatius, an est saepe eruditi. Id vivendo explicari mea. Te sed soluta eleifend. Tale noluisse ullamcorper ut duo. Purto vide denique est te, quo wisi possit id, eu sint habemus expetendis ius. Eu pri laudem perpetua consulatu, vix id ubique neglegentur. Vix ut semper luptatum molestiae, nam in magna paulo voluptatibus.
					a
						span.mr-1 Read More
						span.ion.ion-chevron-right
					hr.my-4
					.row.text-center
						.col-md-6
							h6 Sleeps
							h4 {{ cottage.sleeps }}

						.col-md-6
							h6 Bedrooms
							h4 {{ cottage.bedrooms }}

				.p-4.mb-2(style="background-color: #ffffff;")
					.row
						.col-md-4
							p.mb-1
								span.ion.mr-1(ng-class="cottage.features.pets ? 'ion-checkmark' : 'ion-close'")
								| Pets Allowed
							p.mb-1
								span.ion.mr-1(ng-class="cottage.features.wifi ? 'ion-checkmark' : 'ion-close'")
								| Wifi

						.col-md-4
							p.mb-1
								span.ion.mr-1(ng-class="cottage.features.swimming ? 'ion-checkmark' : 'ion-close'")
								| Swimming Pool
							p.mb-1
								span.ion.mr-1(ng-class="cottage.features.washing ? 'ion-checkmark' : 'ion-close'")
								| Washing Machine

						.col-md-4
							p.mb-1
								span.ion.mr-1(ng-class="cottage.features.fireplace ? 'ion-checkmark' : 'ion-close'")
								| Fireplace
							p.mb-1
								span.ion.mr-1(ng-class="cottage.features.hottub ? 'ion-checkmark' : 'ion-close'")
								| Hot Tub

				.p-4(style="background-color: #ffffff;")
					.row.align-items-center
						.col-md-6
							h5 £ {{ cottage.cost * curFilters.nights }}
							h6 For {{ curFilters.nights }} nights
							h6 From {{ curFilters.dates.dateStart }} to {{ curFilters.dates.dateEnd }}
						.col-md-6.text-right
							button.btn Book Now

			.col-md-6
				//- img.w-100(ng-src="assets/{{cottage.image}}")
				#carouselExampleControls.carousel.slide(data-ride="carousel")
					.carousel-inner.mb-2(role="listbox")

						.carousel-item(ng-repeat="image in cottage.images track by $index" ng-class="{ 'active': $index == 0}")
							img.d-block.img-fluid(src="assets/detail-imgs/{{image}}")

						//- .carousel-item.active
						//- 	img.d-block.img-fluid(src="assets/{{cottage.image}}" alt="First slide")
						//- .carousel-item
						//- 	img.d-block.img-fluid(src="assets/{{cottage.image}}" alt="Second slide")

						span.carousel-control-prev.carousel-control(href="#carouselExampleControls" role="button" data-slide="prev")
							span.carousel-control-prev-icon(aria-hidden="true")
						span.carousel-control-next.carousel-control(href="#carouselExampleControls" role="button" data-slide="next")
							span.carousel-control-next-icon(aria-hidden="true")



					ul.carousel-indicators.list-inline
						li.list-inline-item(ng-repeat="image in cottage.images track by $index" data-slide-to='$index', data-target='#carouselExampleControls' ng-class="{ 'active': $index == 0}")
							a
								img.img-fluid(ng-src="assets/detail-imgs/{{image}}")

					//- ul.carousel-indicators
					//- 	li.active(data-slide-to='0', data-target='#carouselExampleControls')
					//- 		a.selected
					//- 			img(src='http://placehold.it/80x60&text=one')
					//- 	li(data-slide-to='1', data-target='#carouselExampleControls')
					//- 		a
					//- 			img(src='http://placehold.it/80x60&text=two')
					//- 	li(data-slide-to='2', data-target='#carouselExampleControls')
					//- 		a
					//- 			img(src='http://placehold.it/80x60&text=three')
					//- 	li(data-slide-to='3', data-target='#carouselExampleControls')
					//- 		a
					//- 			img(src='http://placehold.it/80x60&text=four')
					//- 	li(data-slide-to='3', data-target='#carouselExampleControls')
					//- 		a
					//- 			img(src='http://placehold.it/80x60&text=four')


		.row
			.col-md-12
				.details--about
					h3 About {{ cottage.name }}
					hr.hr.hr--left
					p Lorem ipsum dolor sit amet, per veniam alterum invenire ei, pri solet everti in. An sit soleat splendide tincidunt, volumus delectus pri ei. Eu mei appetere comprehensam. Sea ei liberavisse necessitatibus. Vis possit albucius vituperatoribus ex, nam ut meis repudiandae. Vel et habeo alienum.

					p Vis nihil voluptua et, no sit quidam feugait. Vix ei sale dicunt prompta, ei omnis incorrupte vituperatoribus qui, eu mei delenit dolorum definitiones. No vidisse iuvaret nominavi cum. Mel delicata reprehendunt no, choro soleat gloriatur ei eam, probo incorrupte ex duo. Verear accommodare qui no.

					p Ut munere voluptatum eos, nam ne ludus volumus moderatius, an est saepe eruditi. Id vivendo explicari mea. Te sed soluta eleifend. Tale noluisse ullamcorper ut duo. Purto vide denique est te, quo wisi possit id, eu sint habemus expetendis ius. Eu pri laudem perpetua consulatu, vix id ubique neglegentur. Vix ut semper luptatum molestiae, nam in magna paulo voluptatibus.

		script.
			$('.carousel').carousel({
				interval: 5000,
				pause: "hover",
				wrap: true
			})
			.on('click', '.carousel-control', handle_nav);

			var handle_nav = function(e) {
				e.preventDefault();
				var nav = $(this);
				nav.parents('.carousel').carousel(nav.data('slide'));
			}