.banner
.banner-search
	.container
		.row
			.col-md-4
				select.mb-2(ng-model="curFilters.location" ng-options="x.county as x.county for x in properties | unique: 'county'" name='location')
			.col-md-2
				select.mb-2
			.col-md-2
				select.mb-2
			.col-md-2
				select.mb-2
			.col-md-2
				a.btn.btn--seconday.w-100(ng-click="gotoResults('results')") Search

div(ng-repeat="home in properties | filter:{id: selectedProperty}")
	h1 {{ home.town }}