section.mt-4
	.container-fluid
		.row
			include /_includes/_results-left


			.col-lg-9.col-md-12.col-sm-12
				//- h4 Your Results 
				//- 	span.color--500 {{ filtered.length }} properties found
				.row.results--top-filters.mb-2
					.col-6.col-sm-6
						label Sort By:
						.select
							select(ng-model="resultsOrder")
								option(value="town") Town
								option(value="county") County
								option(value="cost") Cost
							.select_arrow

					.col-6.col-sm-6
						label Results Per Page:
						.select
							select(ng-model="resultsAmount")
								option(value="2") 2
								option(value="5") 5
								option(value="10") 10
							.select_arrow



				.row(dir-paginate="home in properties | orderBy : resultsOrder | filter: $root.changeLocation($root.curFilters.location) | filter: featureFilter | filter: costFilter | filter: bedroomFilter | filter:ratingFilter | itemsPerPage: resultsAmount | filter:query as filtered")
					.col-md-12
						.results--cottage-section
							.row.align-items-center
								.col-md-5
									img(ng-src="assets/{{ home.image }}" alt="Home Image")

								.col-md-7
									h4.cottage-name {{ home.name }}
									h6.cottage-town {{ home.town }}, {{ home.county }}
									p.mb-2.font-weight-400
										span.mr-1 Sleeps: {{ home.sleeps }}
										span.mr-1 |
										span.mr-1 Bedrooms: {{ home.bedrooms }}
										span.mr-1 |
										span
											span.ion.ion-star.d-inline-block(ng-repeat="i in getRating(home.rating) track by $index")
									hr.mb-1
									.row.results--features.no-gutters
										.col-md-4.col-12
											p
												span.ion.mr-1(ng-class="home.features.pets ? 'ion-checkmark' : 'ion-close'")
												| Pets Allowed
											p
												span.ion.mr-1(ng-class="home.features.wifi ? 'ion-checkmark' : 'ion-close'")
												| Wifi
										.col-md-4.col-12
											p
												span.ion.mr-1(ng-class="home.features.swimming ? 'ion-checkmark' : 'ion-close'")
												| Swimming Pool
											p
												span.ion.mr-1(ng-class="home.features.washing ? 'ion-checkmark' : 'ion-close'")
												| Washing
										.col-md-4.col-12
											p
												span.ion.mr-1(ng-class="home.features.fireplace ? 'ion-checkmark' : 'ion-close'")
												| Fireplace
											p
												span.ion.mr-1(ng-class="home.features.hottub ? 'ion-checkmark' : 'ion-close'")
												| Hot Tub

									hr.mb-2
									.row.align-items-center
										.col-md-6
											p.mb-0 {{ curFilters.nights }} nights
											h5.results--price From £{{ home.cost * curFilters.nights }}
										.col-md-6.text-right
											a(href="#!/details/{{home.id}}")
												button.btn View and Book


				.text-center.mb-6
					dir-pagination-controls(auto-hide="true" template-url="pagination.html")
