html(ng-app="app")
	head
		include /_includes/_header
	body(ng-controller="appcontroller" style="background-color: #F5F5F5;")
		include /_includes/_navigation
		

		section.pt-6
			.container
				.row
					.col-md-3
						.row
							.col-md-12
								.results--filter-box.mb-2
									h5 Cottage Search

									.result--filter-box--inner
										label Location
										select.mb-2(ng-model="locationFilter" ng-options="x.county as x.county for x in properties | unique: 'county'" name='location')

										label Sleeps
										select.mb-2(ng-model="sleepsFilter" ng-options="x.sleeps as x.sleeps for x in properties | unique: 'sleeps'" name='sleeps')

								.results--filter-box
									h5 Filter Options

									.result--filter-box--inner.mb-2
										label Price
										div
											input.mr-1(type="checkbox" data-ng-model="costCheckboxs.c0")
											label.d-inline-block.mb-0 £0 - £99
										div
											input.mr-1(type="checkbox" data-ng-model="costCheckboxs.c1")
											label.d-inline-block.mb-0 £100 - £199
										div
											input.mr-1(type="checkbox" data-ng-model="costCheckboxs.c2")
											label.d-inline-block.mb-0 £200 - £299

									.result--filter-box--inner.mb-2
										label Features
										div
											input.mr-1(type="checkbox" ng-false-value="''" data-ng-model="filterPets")
											label.d-inline-block.mb-0 Pets Allowed {{ filterPets }}
										div
											input.mr-1(type="checkbox"  ng-false-value="''" data-ng-model="filterWifi")
											label.d-inline-block.mb-0 Wifi
										div
											input.mr-1(type="checkbox"  ng-false-value="''" data-ng-model="filterSwimming")
											label.d-inline-block.mb-0 Swimming Pool
										div
											input.mr-1(type="checkbox"  ng-false-value="''" data-ng-model="filterWashing")
											label.d-inline-block.mb-0 Washing Machine
										div
											input.mr-1(type="checkbox"  ng-false-value="''" data-ng-model="filterFireplace")
											label.d-inline-block.mb-0 Fireplace
										div
											input.mr-1(type="checkbox"  ng-false-value="''" data-ng-model="filterHottub")
											label.d-inline-block.mb-0 Hot Tub

									.result--filter-box--inner.mb-2
										label Bedrooms
										div
											input.mr-1(type="checkbox" data-ng-model="costCheckboxs.c0")
											label.d-inline-block.mb-0 1
										div
											input.mr-1(type="checkbox" data-ng-model="costCheckboxs.c1")
											label.d-inline-block.mb-0 2
										div
											input.mr-1(type="checkbox" data-ng-model="costCheckboxs.c2")
											label.d-inline-block.mb-0 3
										div
											input.mr-1(type="checkbox" data-ng-model="costCheckboxs.c0")
											label.d-inline-block.mb-0 4
										div
											input.mr-1(type="checkbox" data-ng-model="costCheckboxs.c1")
											label.d-inline-block.mb-0 5

									.result--filter-box--inner
										label Customer Rating
										div
											input.mr-1(type="checkbox" data-ng-model="ratingCheckboxs.r0")
											label.d-inline-block.mb-0 0 - 2
										div
											input.mr-1(type="checkbox" data-ng-model="ratingCheckboxs.r1")
											label.d-inline-block.mb-0 3 - 4
										div
											input.mr-1(type="checkbox" data-ng-model="ratingCheckboxs.r2")
											label.d-inline-block.mb-0 5 - 6
										div
											input.mr-1(type="checkbox" data-ng-model="ratingCheckboxs.r3")
											label.d-inline-block.mb-0 7 - 8
										div
											input.mr-1(type="checkbox" data-ng-model="ratingCheckboxs.r4")
											label.d-inline-block.mb-0 9 - 10

					.col-md-9
						.row
							.col-md-12
								h3 Your Results {{ properties.length }} properties found
						.row.py-4
							.col-sm-6
								select(ng-model="resultsOrder")
									option(value="town") Town
									option(value="county") County
									option(value="id") Id
									option(value="cost") Cost
							.col-sm-6.text-right
								select(ng-model="resultsOrder")
									option(value="town") 10
									option(value="county") 20


						//- .row.my-2.p-2.align-items-center(ng-repeat="home in properties | orderBy : resultsOrder | filter: {county: locationFilter} | filter: {sleeps: sleepsFilter} | filter: costFilter" style="background-color: #ffffff;")
						.row.my-2.p-2.align-items-center(ng-repeat="home in properties | orderBy : resultsOrder | filter: costFilter | filter:ratingFilter:'blah' | filter: {features: {pets: filterPets}} | filter: {features: {wifi: filterWifi}} | filter: {features: {swimming: filterSwimming}} | filter: {features: {washing: filterWashing}} | filter: {features: {fireplace: filterFireplace}} | filter: {features: {hottub: filterHottub}}" style="background-color: #ffffff;")

							.col-md-5
								img.mw-100(ng-src="{{ home.image }}" alt="Home Image")

							.col-md-5
								h5 {{ home.name }}
								h5 {{ home.town }}, {{ home.county }}

								p Sleeps {{ home.sleeps }} | Bedrooms {{ home.bedrooms }}
								.ion.ion-star.d-inline-block(ng-repeat="i in getRating(home.rating) track by $index")
								hr
								.row
									.col-md-6
										p.mb-1
											span.ion.mr-1(ng-class="home.features.pets ? 'ion-checkmark' : 'ion-close'")
											| Pets Allowed
										p.mb-1
											span.ion.mr-1(ng-class="home.features.wifi ? 'ion-checkmark' : 'ion-close'")
											| Wifi
										p.mb-1
											span.ion.mr-1(ng-class="home.features.swimming ? 'ion-checkmark' : 'ion-close'")
											| Swimming Pool
									.col-md-6
										p.mb-1
											span.ion.mr-1(ng-class="home.features.washing ? 'ion-checkmark' : 'ion-close'")
											| Washing
										p.mb-1
											span.ion.mr-1(ng-class="home.features.fireplace ? 'ion-checkmark' : 'ion-close'")
											| Fireplace
										p.mb-1
											span.ion.mr-1(ng-class="home.features.hottub ? 'ion-checkmark' : 'ion-close'")
											| Hot Tub


							.col-md-2.text-center
								h4 £{{ home.cost }}
								h6 For 7 nights
								button.btn View

		include /_includes/_footer