//- Checkboxes

.control {
    font-family: arial;
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 2px;
    padding-top: 0px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


    .ion-star {
        padding-top: 3px;
        height: 21px;
    }

}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 16px;
    width: 16px;
    background: #e6e6e6;
    border: 0px solid #000000;
    border-radius: 2px;
}
.control-radio .control_indicator {
    border-radius: 0px;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #cccccc;
}

.control input:checked ~ .control_indicator {
    background: #607D8B;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #607D8B;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid #ECEFF1;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}



//- Select Boxes

.select {
    position: relative;
    display: inline-block;
    // margin-bottom: 15px;
    width: 100%;
}
.select select {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 8px 16px;
    outline: 0;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    background: #FFFFFF;
    color: #757575;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select select::-ms-expand {
    display: none;
}

.select select:hover,
.select select:focus {
    background: #fafafa;
}

.select_arrow {
    position: absolute;
    top: 19px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0px 5px;
    border-color: #757575 transparent transparent transparent;
}

.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
    // border-top-color: #000000;
}




//- Form

.form--results-date {

    .form-control {
        color: #757575;
        padding: 8px 16px;
        border: 1px solid #E0E0E0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        outline: none;
    }

    .input-group-addon {
        border: 1px solid #E0E0E0;
        border-right: 0px;

        .ion {
            color: #757575;
        }
    }
}
