.results--filter-box {
	background-color: #ffffff;

	.gutter--sm {
    	display: flex;
    	flex: 1 1 auto;
    	flex-direction: column;
	}

	@extend .pt-2;
	@extend .pl-2;
	@extend .pr-2;

	h5 {
		color: $color--500;
		font-weight: 500;
		@extend .mb-2;
	}
}

.cottage-name {
	font-weight: 300;
	@extend .mb-1;
	text-transform: capitalize;
}

.cottage-town {
	font-weight: 300;
	@extend .mb-2;
	color: $color--900;
	text-transform: capitalize;
}

.result--filter-box--inner {
	flex-grow: 1;
	background-color: #fafafa;
	border: 1px solid #EEEEEE;
	@extend .p-2;
}

.pagination {
	justify-content: center;
	

	.page-item {

		.page-link {
			color: $color--500;
		}

		&.active {
			.page-link {
				color: $color--50;
				background-color: $color--500;
				border: 1px solid $color--500;
			}
		}
	}
}

.results--top-filters {
	@extend .pt-2;
}

.results--cottage-section {
	background-color: #ffffff;
	@extend .mb-2;
	@extend .px-2;
	@extend .py-4;


	p {
		@media (max-width: 1200px) {
			font-size: 0.85rem;
		}
	}

	hr {
		margin: 0px;
	}

	h5 {
		@extend .mb-0;
		color: $color--500;
	}

	.btn {
		font-size: 0.85rem;
	}

	img {
		width: 500px;
		max-width: 100%;
	}
}

.results--features {
	p {
		@extend .mb-1;
	}
}