@import "bootstrap";
@import "datepicker";

$color--primary: #2196F3;
$color--secondary: #42A5F5;
$color--text: #2C2C2C;
$color--para: #8D8D8D;
$color--grey-light: #BDBDBD;

$color--50: #ECEFF1;
$color--100: #CFD8DC;
$color--200: #B0BEC5;
$color--300: #90A4AE;
$color--400: #78909C;
$color--500: #607D8B;
$color--600: #546E7A;
$color--700: #455A64;
$color--800: #37474F;
$color--900: #263238;

@import "inputs";
@import "results";
@import "details";

.color--500 {
	color: $color--500;
}

.font-weight-300 {
	font-weight: 300;
}

.font-weight-400 {
	font-weight: 400;
}

.font-weight-500 {
	font-weight: 500;
}

.gutter--sm {
	padding-right: 8px;
	padding-left: 8px;
}

.container-fluid {
	max-width: 1440px;
}

body {
	background-color: $color--50;
}

h1,h2, h3,h4,h5,h6 {
	font-family: 'Ubuntu', sans-serif;
	line-height: normal;
}

p,a {
	font-family: 'Open Sans', sans-serif;
	line-height: normal;
}

p {
	font-weight: 300;
	letter-spacing: 0.5;
	line-height: 1.35rem;
}

h1 {
	@media (max-width: 768px) {
		line-height: normal !important;
		font-size: 2rem;
	}
}

h2 {
	@media (max-width: 768px) {
		font-size: 1.75rem;
	}
}

h3 {
	@media (max-width: 768px) {
		font-size: 1.5rem;
	}

	@extend .mb-2;
}

h4 {
	@media (max-width: 768px) {
		font-size: 1.25rem;
	}
}

label {
	display: block;
	margin-bottom: 4px;
	font-weight: 600;
	font-size: 14px;
}

input, textarea, select {
	// display: block;
	// width: 100%;
	// // border: 2px solid #E0E0E0;
	// outline: none;
	// border: none;

	// &[type="checkbox"] {
	// 	display: inline-block !important;
	// 	width: auto !important;
	// }

	// @extend .p-1;
	// @extend .px-2;
}

select {
	height: 44px;
	color: #bdbdbd;
	border-radius: 0;
	-webkit-appearance: none;
	background-color: #ffffff;
}

.ion {
	color: $color--500;
}

.container-small {
    max-width: 100%;
    width: 860px;
}

.container-xl {
    max-width: 100%;
    width: 1300px;
}

.hr {
	border: none;
	border-top: 1px solid $color--100;
	width: 160px;
	margin: 0 auto 16px;

	&.hr--left {
		margin-left: 0;
	}

	&.hr--50 {
		border-top: 1px solid $color--50;
	}
}

.btn {
	background-color: $color--400;
	border: none;
	border-radius: 5px;
	outline: none !important;
	font-family: 'Ubuntu', sans-serif;
	color: #ffffff;
	line-height: normal;
	padding: 10px 24px 12px;
	transition: background-color 0.3s;
	cursor: pointer;
	font-weight: 300;
	letter-spacing: 0.3px;

	&.inverted {
		border: solid 3px #ffffff;
		background-color: transparent;
	}

	&:hover {
		background-color: lighten($color--600,10%);
		// animation: pulse 0.3s;
		// -webkit-animation: pulse 0.3s;
		// -moz-animation: pulse 0.3s;
		// -o-animation: pulse 10.3s;
	}
}

.banner {
	width: 100%;
	height: 100vh;
	max-height: 600px;
	background-image: url("../assets/banner-bg.jpg");
	background-size: cover;
	background-position: center bottom;
	position: relative;
}

.banner--text {
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-width: 800px;
	text-align: center;

	h1 {
		color: $color--50;
	}
}

.banner--search {
	position: relative;
	// bottom: 0;
	width: 100%;
	background-color: $color--500;
	@extend .p-4;


	.btn {
		border-radius: 0px;
	}

	input, select, .btn {
		height: 50px;
	}

	select {
    	border-top-left-radius: 5px;
    	border-bottom-left-radius: 5px;
	}

	.btn {
    	border-top-right-radius: 5px;
    	border-bottom-right-radius: 5px;
	}

	p {
		@extend .mb-0;
		color: $color--50;
	}
}

//- Navigation
.navbar-nav {
	.nav-item {
		a.nav-link {
			color: $color--50 !important;
			font-family: 'Ubuntu', sans-serif;
			padding: 1.5rem 1.25rem;
		    -webkit-transition: color 0.5s;
		    transition: color 0.5s;
		    letter-spacing: 1px;

			@media (max-width: 992px) {
				text-align: center;	
			}
		}
		&:last-child {
			a.nav-link {
				@media (min-width: 992px) {
					padding-right: 0px !important;
				}
			}
		}
	}
}

.navbar-brand {
	img {
		width: 200px;
	}
}

.navbar-toggler {
	border: none;
	cursor: pointer;
	outline: none !important;
}

.navbar--container {
	z-index:1;
	position: absolute;
	width: 100%;
	background-color: $color--900;
}

.navbar-toggler {
	top: 20px;
}


.inspiration-section {
	h3 {
		letter-spacing: 2px;
	}

	.inspiration--box {
		position: relative;
		width: 100%;
		height: 260px;
		background-size: cover;
		background-position: center;
		@extend .mb-2;
	}

	.inspiration--box-text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $color--50;

		hr {
			width: 80px;
		}

		p {
			@extend .mb-0;
		}

		.font-weight-500 {
			@extend .mb-0;
			letter-spacing: 2px;
		}
	}
}

.about-section {
	background-image: url('../assets/about-bg.jpg');
	background-size: cover;
	@extend .p-8;
	color: $color--50;

	h3 {
		letter-spacing: 2px;
	}
}

.about-section--bottom {
	@extend .p-8;
	text-align: center;

	h6 {
		letter-spacing: 2px;
	}

	img {
		@extend .mb-2;
		height: 60px;
	}
}

.offer-section {
	background-image: url('../assets/offer-bg.jpg');
	background-size: cover;
	text-align: center;
	@extend .p-8;
	color: $color--50;

	h3 {
		letter-spacing: 2px;
	}
}

.footer {
	background-color: $color--500;
	color: $color--50;
	@extend .p-6;

	hr {
		border-top: 1px solid $color--50;
		width: 100%;
	}

	.input-group > .input-group-addon {
		padding: 0px !important;
		border: none;

		.btn {
    		border-top-left-radius: 0px;
    		border-bottom-left-radius: 0px;
		}
	}
}